// Non-modular or client styles for .l-footer region.

//footer

.l-footer-sections
  margin-top: 4rem
  .panel
    height: 60px
  .button
    background-color: $blue
    &:hover
      background-color: $blue-light
      a
        color: $blue
    a
      color: $white
      +menu-font

    
  .block-menu-block-3
    margin-top: 2rem
    padding-bottom: 0.5rem
    ul
      margin-bottom: 2rem
      margin-top: -0.5rem
      li
        display: inline-block
        padding-right: 1.6rem
        a
          +menu-font
          color: $blue
          padding-right: 1rem
    
          
      .active-trail, .active
        background-color: transparent
        margin-right: 0
        color: $blue
        
  
  .block-block-2
    p
      +h5-style
      a
        font-weight: 700
        color: $gray-dark
        
.block-bean-member-login-button
  +h5-style
  
.block-menu-menu-share-footer
  .leaf
    margin-left: -1rem
    margin-right: -1rem  
  ul
    display: inline-block
    float: right
    li
      +no-bullets
      font-size: 1.3rem   
      a
        +icon(twitter)
        color: transparent
        &:before
          color: $primary-color  
    li.first
      a
        +icon(facebook)
        &:before
          color: $primary-color
      
    li.last
      a
        +icon(youtube-play)

        &:before
          color: $primary-color
          
div.footer-second.large-3
  width: 100%
  float: right
  margin-top: -4rem
  margin-right: -4.3rem
      

  
    
          
  
          
          
@media #{$small-only}
  div.footer-second.large-3
    margin-bottom: 0.25rem
    margin-top: 0.25rem
    margin-left: auto
    margin-right: auto
  
@media #{$medium-only}
  div.footer-second.large-3
    margin-top: -2rem
  div.footer-first.large-9
    width: 115%
          
          
      