/*
 * button block styles
 */
/**********************************
 * FONT MIXINS
 ********************************** */
/**********************************
 * FONT MIXINS
 ********************************** */
/*
 * button block styles
 */
/* Yes, we all hate IE9 too. */
/* line 12, ../sass/ie9.sass */
.block#block-search-form form .form-actions .form-submit {
  background-image: url(../images/sprite.png);
  background-position: 7px -360px;
  background-repeat: no-repeat; }
