/*
 * button block styles
 */
/**********************************
 * FONT MIXINS
 ********************************** */
/**********************************
 * FONT MIXINS
 ********************************** */
/*
 * button block styles
 */
/* ----------------------------------
 * FRONT
 *----------------------------------- */
/* line 12, ../sass/page-specific.sass */
body.front #main-area-wrapper #main #main-inner {
  background: none; }
  /* line 16, ../sass/page-specific.sass */
  body.front #main-area-wrapper #main #main-inner #content #content-inner {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0; }
    /* line 23, ../sass/page-specific.sass */
    body.front #main-area-wrapper #main #main-inner #content #content-inner #content-header h1.title {
      display: none; }
    /* line 27, ../sass/page-specific.sass */
    body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top {
      padding-top: 20px; }
      /* line 31, ../sass/page-specific.sass */
      body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow {
        padding: 0 35px;
        position: relative;
        z-index: 1;
        width: 889px; }
        /* line 37, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow ul.action-links {
          position: absolute;
          z-index: 450; }
        /* line 41, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main {
          height: 400px;
          overflow: hidden;
          position: relative;
          width: 889px; }
          /* line 49, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper {
            background-color: rgba(39, 83, 135, 0.9);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5275387', endColorstr='#E5275387')";
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5275387', endColorstr='#E5275387');
            zoom: 1;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            position: absolute;
            width: 460px; }
            /* line 58, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper div {
              filter: alpha(opacity=100); }
            /* line 61, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper.upper-left {
              left: 20px;
              top: 20px; }
            /* line 65, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper.upper-right {
              right: 20px;
              top: 20px; }
            /* line 69, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper.lower-left {
              bottom: 20px;
              left: 20px; }
            /* line 73, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper.lower-right {
              bottom: 20px;
              right: 20px; }
            /* line 77, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper a {
              color: white;
              text-decoration: underline; }
            /* line 84, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper .description-wrapper {
              border-bottom: 2px solid #7391b2;
              padding-bottom: 10px; }
            /* line 88, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views_slideshow_cycle_main .views-field-field-description .slide-bottom-wrapper .title-wrapper {
              background: transparent url(../images/sprite.png) right -480px no-repeat;
              height: 40px;
              line-height: 40px;
              overflow: hidden;
              padding-right: 25px;
              text-align: right; }
        /* line 97, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-pause {
          display: none; }
        /* line 100, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous,
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next,
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous,
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next {
          background-color: rgba(149, 149, 149, 0.5);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F959595', endColorstr='#7F959595')";
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F959595', endColorstr='#7F959595');
          zoom: 1;
          height: 400px;
          position: absolute;
          top: 0;
          width: 35px; }
          /* line 114, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous:hover,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next:hover,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous:hover,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next:hover {
            background-color: rgba(149, 149, 149, 0.7);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2959595', endColorstr='#B2959595')";
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2959595', endColorstr='#B2959595');
            zoom: 1; }
          /* line 118, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous a,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next a,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous a,
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next a {
            width: 35px;
            height: 400px;
            display: block;
            text-indent: -1000em;
            overflow: hidden;
            background: transparent url(../images/slideshow-arrow-sprite.png) 0 0 no-repeat; }
        /* line 121, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous {
          left: 0; }
          /* line 124, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous a {
            background-position: 0 199px; }
            /* line 127, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-previous a:hover {
              background-position: -35px 199px; }
        /* line 130, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next {
          right: 0; }
          /* line 133, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next a {
            background-position: -70px 199px; }
            /* line 136, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-top .view-id-slideshow .views-slideshow-controls-text .views-slideshow-controls-text-next a:hover {
              background-position: -105px 199px; }
    /* line 139, ../sass/page-specific.sass */
    body.front #main-area-wrapper #main #main-inner #content #content-inner #content-area {
      padding-right: 30px; }
      /* line 142, ../sass/page-specific.sass */
      body.front #main-area-wrapper #main #main-inner #content #content-inner #content-area .region-content {
        background: #c2d1e8;
        border-top: 3px solid #d4dfef;
        border-bottom: 3px solid #a1b8db;
        height: 55px;
        margin-top: 20px;
        padding: 20px 0 20px 20px; }
        /* line 153, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-area .region-content .block-button-block a.button-block-link:hover {
          border-color: #d4dfef; }
        /* line 157, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-area .region-content .block-button-block#block-button_block-2 {
          width: 300px; }
    /* line 160, ../sass/page-specific.sass */
    body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom {
      padding-top: 20px; }
      /* line 165, ../sass/page-specific.sass */
      body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block {
        border-top: 3px solid #829ec4;
        color: #636363;
        float: left; }
        /* line 52, ../sass/_mixins.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner {
          border-top: 40px solid #275387; }
          /* line 55, ../sass/_mixins.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner h2.block-title {
            position: absolute;
            top: -4px;
            color: white;
            font-family: "comfortaa";
            font-weight: normal;
            letter-spacing: 0.15em;
            text-shadow: 1px 1px 0px #275387;
            text-transform: uppercase;
            line-height: 48px;
            padding-left: 15px; }
            /* line 34, ../sass/_mixins.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner h2.block-title:hover {
              text-decoration: none; }
        /* line 66, ../sass/_mixins.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner h2.block-title {
          background: transparent url(../images/sprite.png) -4px 0 no-repeat;
          overflow: hidden;
          height: 60px;
          padding-left: 60px; }
        /* line 172, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner h2.block-title {
          margin-left: 10px; }
          /* line 175, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block .block-inner h2.block-title a {
            color: white !important; }
        /* line 178, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 {
          width: 620px; }
          /* line 181, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 h2.block-title {
            background-position: -4px -520px; }
          /* line 184, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content {
            background: white;
            height: 260px;
            padding: 35px 15px 20px 15px; }
            /* line 189, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content .views-row {
              float: left;
              width: 285px; }
              /* line 193, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content .views-row.views-row-2 {
                margin-left: 20px; }
              /* line 197, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content .views-row .views-field-title h3 {
                color: #275387;
                font-family: "comfortaa";
                text-transform: uppercase;
                font-size: 1.3em;
                font-weight: normal;
                margin: 0.5em 0;
                text-transform: none; }
                /* line 204, ../sass/page-specific.sass */
                body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content .views-row .views-field-title h3 a {
                  color: #477fd3; }
              /* line 207, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-views-blog_views-block_1 .content .views-row .views-field-body {
                line-height: 1.7em; }
        /* line 210, ../sass/page-specific.sass */
        body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front {
          margin-left: 20px;
          width: 320px; }
          /* line 214, ../sass/page-specific.sass */
          body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content {
            background-color: rgba(255, 255, 255, 0.3);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CFFFFFF', endColorstr='#4CFFFFFF')";
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CFFFFFF', endColorstr='#4CFFFFFF');
            zoom: 1;
            height: 315px; }
            /* line 221, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .twitter-pull-block-description {
              font-size: 1.1em;
              text-align: center; }
            /* line 225, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs {
              background: none;
              border: 0;
              padding: 0 20px 20px 20px;
              height: 100%; }
              /* line 231, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav {
                background: none;
                border: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                padding: 0; }
                /* line 237, ../sass/page-specific.sass */
                body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li {
                  border: 0;
                  -webkit-border-radius: 0;
                  -moz-border-radius: 0;
                  border-radius: 0;
                  margin: 0;
                  padding: 0; }
                  /* line 243, ../sass/page-specific.sass */
                  body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li a {
                    color: white;
                    font-family: "comfortaa";
                    font-weight: normal;
                    letter-spacing: 0.15em;
                    text-shadow: 1px 1px 0px #275387;
                    text-transform: uppercase;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    background-color: #5478ab;
                    background-image: -webkit-linear-gradient(#5478ab, #487fd3);
                    background-image: -moz-linear-gradient(#5478ab, #487fd3);
                    background-image: -o-linear-gradient(#5478ab, #487fd3);
                    background-image: linear-gradient(#5478ab, #487fd3);
                    font-size: 0.9em;
                    overflow: hidden;
                    padding: 9px 0 9px 13px;
                    text-transform: none; }
                    /* line 34, ../sass/_mixins.sass */
                    body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li a:hover {
                      text-decoration: none; }
                  /* line 253, ../sass/page-specific.sass */
                  body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li.ui-state-active a {
                    background: transparent url(../images/nav-button-over.jpg) right top repeat-x; }
                  /* line 257, ../sass/page-specific.sass */
                  body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li.first a {
                    width: 143px; }
                  /* line 261, ../sass/page-specific.sass */
                  body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper #item-tabs ul.ui-tabs-nav li.last a {
                    width: 111px; }
            /* line 264, ../sass/page-specific.sass */
            body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content {
              background: white;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              border: 2px solid #d4dfef;
              font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
              height: 165px;
              padding: 20px; }
              /* line 272, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content .twitter-block-header {
                display: none; }
              /* line 275, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content .tweet-author {
                display: block; }
                /* line 278, ../sass/page-specific.sass */
                body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content .tweet-author a {
                  position: absolute;
                  bottom: 40px;
                  right: 40px; }
              /* line 284, ../sass/page-specific.sass */
              body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content ul li {
                color: #636363;
                padding: 0; }
                /* line 288, ../sass/page-specific.sass */
                body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content ul li a {
                  color: #636363; }
                  /* line 291, ../sass/page-specific.sass */
                  body.front #main-area-wrapper #main #main-inner #content #content-inner #content-bottom .region-content-bottom .block#block-cchi_customizations-tweets_front .content .twitter-pull-block-wrapper .ui-widget-content ul li a:hover {
                    text-decoration: underline; }

/* ----------------------------------
 * MEMBERS (about/members)
 *----------------------------------- */
/* line 302, ../sass/page-specific.sass */
body.page-members .view-members-logos {
  padding-bottom: 50px;
  overflow: auto; }
  /* line 306, ../sass/page-specific.sass */
  body.page-members .view-members-logos .views-row {
    float: left;
    padding: 0;
    position: relative;
    text-align: center;
    width: 200px; }
    /* line 313, ../sass/page-specific.sass */
    body.page-members .view-members-logos .views-row.views-row-column-left {
      clear: left; }
    /* line 316, ../sass/page-specific.sass */
    body.page-members .view-members-logos .views-row.views-row-column-middle {
      padding-left: 51px;
      padding-right: 51px; }
    /* line 320, ../sass/page-specific.sass */
    body.page-members .view-members-logos .views-row .views-field-field-image {
      display: table;
      height: 260px;
      width: 200px; }
      /* line 325, ../sass/page-specific.sass */
      body.page-members .view-members-logos .views-row .views-field-field-image .field-content {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle; }
    /* line 331, ../sass/page-specific.sass */
    body.page-members .view-members-logos .views-row .views-field-title {
      font-weight: bold;
      text-align: center; }

/* ----------------------------------
 * CONTENT PAGES (Not front, not blog)
 *----------------------------------- */
/* line 343, ../sass/page-specific.sass */
body.content-pages-section #main-header #main-header-inner .region-main-header {
  padding-top: 34px; }
/* line 350, ../sass/page-specific.sass */
body.content-pages-section #main-area-wrapper #highlight #highlight-inner .region-highlight {
  position: relative; }
  /* line 353, ../sass/page-specific.sass */
  body.content-pages-section #main-area-wrapper #highlight #highlight-inner .region-highlight #block-text_resize-0 {
    position: absolute;
    right: 215px;
    top: 7px; }
    /* line 358, ../sass/page-specific.sass */
    body.content-pages-section #main-area-wrapper #highlight #highlight-inner .region-highlight #block-text_resize-0 h2.block-title {
      color: white; }
/* line 361, ../sass/page-specific.sass */
body.content-pages-section #main-area-wrapper #sidebar-second {
  margin-top: -43px; }

/* ----------------------------------
 * PAGES WITH NODE LEFT (BLOG + EVENTS)
 *----------------------------------- */
/* line 375, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner,
body.events-section #main-area-wrapper #main #content-inner,
body.page-providers #main-area-wrapper #main #content-inner {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 0 0 200px; }

/* ----------------------------------
 * BLOG PAGES
 *----------------------------------- */
/* line 389, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main-header #main-header-inner {
  height: 164px; }
  /* line 392, ../sass/page-specific.sass */
  body.blog-section #main-area-wrapper #main-header #main-header-inner .region-main-header {
    padding: 0; }
    /* line 396, ../sass/page-specific.sass */
    body.blog-section #main-area-wrapper #main-header #main-header-inner .region-main-header .block a.blog-header-text {
      width: 1000px;
      height: 164px;
      display: block;
      text-indent: -1000em;
      overflow: hidden;
      background: transparent url(../images/blog_header_sprite.png) -16px 0 no-repeat; }
      /* line 399, ../sass/page-specific.sass */
      body.blog-section #main-area-wrapper #main-header #main-header-inner .region-main-header .block a.blog-header-text:hover {
        background-position: -16px -164px; }
/* line 403, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #highlight #highlight-inner {
  border: none; }
  /* line 406, ../sass/page-specific.sass */
  body.blog-section #main-area-wrapper #highlight #highlight-inner .region-highlight {
    background: none;
    height: auto;
    position: relative; }
    /* line 411, ../sass/page-specific.sass */
    body.blog-section #main-area-wrapper #highlight #highlight-inner .region-highlight #block-text_resize-0 {
      position: absolute;
      right: 40px;
      top: -50px; }
      /* line 416, ../sass/page-specific.sass */
      body.blog-section #main-area-wrapper #highlight #highlight-inner .region-highlight #block-text_resize-0 h2.block-title {
        color: #275387; }
/* line 424, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #content-header h1.title {
  display: none; }
/* line 429, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner .links li a.active {
  color: #477fd3; }
/* line 434, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments h2 {
  font-size: 1.7em;
  margin: 25px 0;
  padding: 0 0 0 0; }
/* line 439, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments .comment,
body.blog-section #main-area-wrapper #main #content-inner #comments .comment-form {
  background: white;
  padding: 25px;
  margin-bottom: 25px; }
/* line 446, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments .comment .new {
  display: none; }
/* line 449, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments .comment.comment-unpublished {
  background: #ffcccc; }
/* line 452, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments form#comment-form {
  overflow: auto; }
  /* line 455, ../sass/page-specific.sass */
  body.blog-section #main-area-wrapper #main #content-inner #comments form#comment-form .form-submit {
    margin: 0; }
/* line 458, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #content-inner #comments h2.comment-form {
  font-size: 1.3em;
  margin-bottom: 0;
  margin-top: 25px;
  padding-bottom: 0; }
/* line 469, ../sass/page-specific.sass */
body.blog-section #main-area-wrapper #main #sidebar-second #sidebar-second-inner .block .view-id-blog_views form {
  margin: 1em 0;
  text-align: center; }

/* ----------------------------------
 * BLOG NODE ONLY
 *----------------------------------- */
/* ----------------------------------
 * EVENTS PAGES
 *----------------------------------- */
/* line 486, ../sass/page-specific.sass */
body.events-section #content #content-header h1.title {
  display: none; }
/* line 489, ../sass/page-specific.sass */
body.events-section #content #content-inner {
  padding-left: 115px; }

/* ----------------------------------
 * MEMBERS RESOURCES PAGE
 *----------------------------------- */
/* line 499, ../sass/page-specific.sass */
body.page-members-resources #content-area > .view .view-header,
body.page-board-resources #content-area > .view .view-header {
  font-weight: bold;
  padding: 20px 0 50px 0; }
/* line 503, ../sass/page-specific.sass */
body.page-members-resources #content-area > .view h3,
body.page-board-resources #content-area > .view h3 {
  border-bottom: 1px solid #477fd3;
  font-size: 1.4em;
  padding-bottom: 0.5em; }
/* line 508, ../sass/page-specific.sass */
body.page-members-resources #content-area > .view .views-row,
body.page-board-resources #content-area > .view .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px; }
  /* line 515, ../sass/page-specific.sass */
  body.page-members-resources #content-area > .view .views-row .views-field-title h3,
  body.page-board-resources #content-area > .view .views-row .views-field-title h3 {
    border: 0;
    color: #477fd3;
    font-size: 1.2em;
    padding-top: 0; }
  /* line 523, ../sass/page-specific.sass */
  body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach ul, body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach li,
  body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach ul,
  body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach li {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 528, ../sass/page-specific.sass */
  body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach ul,
  body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach ul {
    padding-left: 30px; }
    /* line 531, ../sass/page-specific.sass */
    body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach ul table,
    body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach ul table {
      width: 95%; }
      /* line 534, ../sass/page-specific.sass */
      body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach ul table th:last-child, body.page-members-resources #content-area > .view .views-row .views-field-field-private-attach ul table td:last-child,
      body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach ul table th:last-child,
      body.page-board-resources #content-area > .view .views-row .views-field-field-private-attach ul table td:last-child {
        width: 200px; }

/* ----------------------------------
 * BECOME A MEMBER PAGE
 *----------------------------------- */
/* line 545, ../sass/page-specific.sass */
body.become-member-section #content #content-inner #content-bottom {
  height: 200px;
  padding-top: 30px;
  overflow: auto; }
/* line 551, ../sass/page-specific.sass */
body.become-member-section #content #content-inner .block.block-button-block {
  float: left; }
  /* line 555, ../sass/page-specific.sass */
  body.become-member-section #content #content-inner .block.block-button-block .button-block-wrapper a.button-block-link {
    width: 200px;
    height: 130px;
    display: block;
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url(../images/BecomeMemberSprite.png) 0 0 no-repeat; }
/* line 560, ../sass/page-specific.sass */
body.become-member-section #content #content-inner .block#block-button_block-6 {
  margin-left: 100px; }
  /* line 564, ../sass/page-specific.sass */
  body.become-member-section #content #content-inner .block#block-button_block-6 .button-block-wrapper a.button-block-link {
    background-position: 0 -262px; }
    /* line 567, ../sass/page-specific.sass */
    body.become-member-section #content #content-inner .block#block-button_block-6 .button-block-wrapper a.button-block-link:hover {
      background-position: 0 -393px; }
/* line 571, ../sass/page-specific.sass */
body.become-member-section #content #content-inner .block#block-button_block-5 {
  margin-left: 100px; }
  /* line 575, ../sass/page-specific.sass */
  body.become-member-section #content #content-inner .block#block-button_block-5 .button-block-wrapper a.button-block-link {
    background-position: 0 0; }
    /* line 578, ../sass/page-specific.sass */
    body.become-member-section #content #content-inner .block#block-button_block-5 .button-block-wrapper a.button-block-link:hover {
      background-position: 0 -131px; }

/* ----------------------------------
 * DONATE A VEHICLE PAGE
 *----------------------------------- */
/* line 589, ../sass/page-specific.sass */
body.page-node-2556 #main #content #content-area iframe {
  height: 500px; }

/* ----------------------------------
 * PROVIDER MAP
 *----------------------------------- */
/* line 600, ../sass/page-specific.sass */
body.page-providers #main-area-wrapper #main #content-inner {
  padding-left: 0; }
  /* line 604, ../sass/page-specific.sass */
  body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters {
    background: #c2d1e8;
    border-top: 3px solid #d4dfef;
    border-bottom: 3px solid #a1b8db;
    margin-top: 20px;
    padding: 20px 0 20px 20px; }
    /* line 612, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper,
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-kind-wrapper {
      background: white;
      min-height: 160px;
      -webkit-box-shadow: #a1b8db 0 3px 5px 1px;
      -moz-box-shadow: #a1b8db 0 3px 5px 1px;
      box-shadow: #a1b8db 0 3px 5px 1px;
      padding: 25px;
      width: 308px; }
      /* line 620, ../sass/page-specific.sass */
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper label,
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-kind-wrapper label {
        color: #275387;
        font-family: "comfortaa";
        font-size: 1.5em;
        font-weight: normal;
        letter-spacing: 0.15em;
        margin-bottom: 20px;
        padding-top: 0.3em;
        text-transform: uppercase; }
      /* line 630, ../sass/page-specific.sass */
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper .form-item,
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-kind-wrapper .form-item {
        font-size: 1.1em; }
        /* line 633, ../sass/page-specific.sass */
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper .form-item label,
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-kind-wrapper .form-item label {
          font-size: 1em;
          color: black;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          letter-spacing: 0.03em;
          margin-bottom: 0;
          text-transform: none; }
    /* line 641, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper {
      margin: 0 35px 0 20px; }
      /* line 647, ../sass/page-specific.sass */
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper .form-item-distance-postal-code {
        margin-bottom: 15px; }
        /* line 650, ../sass/page-specific.sass */
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper .form-item-distance-postal-code label,
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form #edit-distance-wrapper .form-item-distance-postal-code input {
          display: inline; }
    /* line 654, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form .views-submit-button {
      margin-left: 35px; }
      /* line 657, ../sass/page-specific.sass */
      body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form .views-submit-button input {
        background-color: transparent;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        height: 34px;
        width: 100px;
        border: 5px solid #a1b8db;
        color: white;
        display: inline-block;
        height: 40px;
        background-color: #5a8cd7;
        background-color: #5a8cd7;
        background-image: -webkit-linear-gradient(#5a8cd7, #4072bd);
        background-image: -moz-linear-gradient(#5a8cd7, #4072bd);
        background-image: -o-linear-gradient(#5a8cd7, #4072bd);
        background-image: linear-gradient(#5a8cd7, #4072bd);
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 10px;
        font-size: 0.9em;
        line-height: 30px;
        margin-top: 0; }
        /* line 91, ../sass/_mixins.sass */
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form .views-submit-button input:hover {
          background-color: #4072bd;
          background-color: #4072bd;
          background-image: -webkit-linear-gradient(#4072bd, #5a8cd7);
          background-image: -moz-linear-gradient(#4072bd, #5a8cd7);
          background-image: -o-linear-gradient(#4072bd, #5a8cd7);
          background-image: linear-gradient(#4072bd, #5a8cd7); }
        /* line 137, ../sass/_mixins.sass */
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form .views-submit-button input:hover {
          border-color: #c2d1e8; }
        /* line 664, ../sass/page-specific.sass */
        body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-filters form .views-submit-button input:hover {
          border-color: #d4dfef; }
  /* line 667, ../sass/page-specific.sass */
  body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-content {
    padding-top: 20px; }
    /* line 670, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .view-content .gmap-gmap {
      border: 20px solid #d4d4d4; }
  /* line 674, ../sass/page-specific.sass */
  body.page-providers #main-area-wrapper #main #content-inner .view-providers .attachment-after {
    background: white;
    -webkit-box-shadow: #cccccc 0 3px 5px 1px;
    -moz-box-shadow: #cccccc 0 3px 5px 1px;
    box-shadow: #cccccc 0 3px 5px 1px;
    margin-top: 20px;
    padding: 25px; }
    /* line 682, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .attachment-after table td.views-field-nothing, body.page-providers #main-area-wrapper #main #content-inner .view-providers .attachment-after table td.views-field-nothing-1 {
      vertical-align: top; }
    /* line 686, ../sass/page-specific.sass */
    body.page-providers #main-area-wrapper #main #content-inner .view-providers .attachment-after table td.views-field-nothing {
      width: 360px; }
