.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel{
  border: none;
}

.form-layout-default{
  background: url(images/watermark.png) right 200px no-repeat;
}

#views-ajax-pad form {
  padding: 3px 10px;
}

form#views-ui-add-item-form .form-item label{
  color: #000 !important;
}

form#views-ui-add-item-form .form-item .description{
  color: #ddd !important;
}

iframe.media-modal-frame{
  padding: 0 !important;
}

input.form-submit, a.button{
  border-radius: 6px !important;
  background-color: #fff !important;
}

input.form-submit:hover, a.button:hover{
  border-top: 1px solid #B4B4B4;
  border-bottom: 1px solid #E4E4E4;
}
